%h1= "Hola, #{@user.name} Bienvenido a Micolet" 

%p
  = @greeting + "Un gusto saludarte, te informamos que tú registro fúe exitoso"
%p
  = @greeting + "Para obtener un cupon de descuento ingresa al siguinete link y contesta la encuesta"
%p
  = @greeting + "Link: #{@url}"